EXPO_PUBLIC_SUPABASE_URL=https://qngjmepksxavimwnhtqt.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_rma90Xm4Hy4nT0CEXTlqHQ_6oKKWeds
EXPO_PUBLIC_WEBSITE_URL=https://savrdhfinancialservices.com
EXPO_PUBLIC_PORTAL_URL=https://savrdhfinancialservices.com/portal/login
